.container
  .jumbotron.white_jumbotron
    %h1 Frequently Asked Questions
    .row
      .col-md-12
        %dl.dl-horizontal
        - @faq_questions.each do |fq|
          %dt
            = fq.faq_question
          %dd
            = fq.faq_answer
          %p

    .h2= Faq.new.all
