.container
  .jumbotron.white_jumbotron
    %h1 Frequently Asked Questions
    .row
      .col-md-12
        %dl.dl-horizontal
        - @faq_questions.each do |fq|
          %dt
            = fq.question
          %dd
            = fq.answer
          %p

    .h6= Faq.all
