/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background-color: grey;
}

blockquote {
  border-left: 0px;
}

// nav bar

.padding_adjustment {
  padding-top: 6%;
}

// footer

.footer_adjustment {
  margin-left: -4%;
}

.footerline {
  border-top: solid 1px black;
  padding-bottom: 6px;
  padding-top: 5px;
}

.page-header {
  border-bottom: none;
}

.form_tag_padding {
  padding-bottom: 100px;
}

.text-white {
  color: white;
}

.padding_about {
  padding-top: 2%;
}
